html {
  font-family: system, -apple-system, Roboto, sans-serif;
  box-sizing: border-box;
  color: #263238;
  background-color: #EFEFEF
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}

input,
select,
button {
  border: none;
  text-decoration: none;
  box-shadow: 0 0 0 0.1em #F44336;
  margin: .2em;
  padding: .2em;
  border-radius: .2em;
  font-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #EFEFEF;
  color: #263238
}

input:hover,
select:hover,
button:hover {
  background: none;
  box-shadow: 0 0 0 0.1em #EFEFEF;
  color: #EFEFEF;
  background-color: #F44336;
  cursor: pointer
}

input:active,
select:active,
button:active {
  box-shadow: 0 0 0 2px #EFEFEF
}

input:disabled,
select:disabled,
button:disabled {
  color: #AFAFAF;
  cursor: not-allowed
}

button {
  color: #F44336;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

button:hover {
  color: #EFEFEF
}

a {
  color: #2196F3
}

a:visited {
  color: #3F51B5
}

header {
  background-color: #F44336;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #EFEFEF
}

h1 {
  text-align: center
}

h1 a {
  color: #EFEFEF!important;
  text-decoration: none
}

.search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 56rem
}

@media all and (min-width: 56rem) {
  .search {
    width: 56rem;
    margin: 0 auto
  }
}

.search--element {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: .2em 0;
  width: 50%
}

.modal {
  background-color: #9E9E9E;
  padding: 1em;
  border-radius: .2em;
  width: 80vw;
  position: absolute;
  left: 10vw;
  top: 40vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 0 .5em black
}

@media all and (min-width: 40rem) {
  .modal {
    width: 40vw;
    left: 30vw
  }
}

.modal button {
  margin: 0 .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.notice {
  font-size: .8em;
  background-color: #9E9E9E;
  padding: .2rem;
  margin: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.notice--close {
  width: 1.25em;
  height: 1.25rem;
  margin: 0 .5em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.content {
  margin: 1em;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto
}

.content>* {
  max-width: 56rem
}

@media all and (min-width: 56rem) {
  .content>* {
    margin: 1em auto
  }
}

.result {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.result>* {
  margin: .2em
}

.result--number {
  min-width: 2em;
  background-color: #fff;
  padding: .2em;
  border-radius: .2em
}

.graph {
  width: 100%!important;
  height: 14em!important
}

#map {
  width: 100%;
  height: 14em
}

.gm-style>div {
  cursor: move!important;
  cursor: -webkit-grab!important;
  cursor: grab!important
}

.gm-style>div:active {
  cursor: move!important;
  cursor: -webkit-grabbing!important;
  cursor: grabbing!important
}

.extra {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.extra>* {
  margin: .2em
}

.extra--container {
  height: 14em;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center
}

.extra--container img {
  height: 99%
}

footer {
  font-size: .8em;
  text-align: center
}

.load{
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 3px solid  rgba(255,255,255, .7);

  top: 28%;
  top: -webkit-calc(50% - 43px);
  top: calc(50% - 43px);
  left: 35%;
  left: -webkit-calc(50% - 43px);
  left: calc(50% - 43px);

  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: load 3s linear infinite;
  animation: load 3s linear infinite;
}
.load:after{
  content: "";
  position: absolute;
  top: -5px;
  left: 20px;
  width: 11px;
  height: 11px;
  border-radius: 10px;
  background-color: #fff;
}

@-webkit-keyframes load{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}

@keyframes load{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
